* {
  box-sizing: border-box;
}

body {
  margin: 0;  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
  background-color: white;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-pair {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.image-pair a {
  margin: 0 10px;
}

.responsive-img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Responsiv design */
@media (max-width: 600px) {
  .image-pair {
      flex-direction: column;
      align-items: center;
  }

  .image-pair a {
      margin: 10px 0;
  }
}


main {
  padding: 1rem;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}
p {
  font-family: sans-serif;
  text-align: center;
}


img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
h1 {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
 
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
